<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!-- UDP endpoints -->
		<add key="Host" value="127.0.0.1"/>
		<add key="UdpPort" value="9877"/>
		<!-- HTTP endpoints -->
		<add key="HttpPort" value="9880" />
		<add key="PricesEndpoint" value="prices" />
		<!-- Network config -->
		<add key="TraceNetworkPrices" value="false"/>
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="PriceWebTests.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyyMMdd"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %line %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>