<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!-- UDP endpoints -->
		<add key="Host" value="127.0.0.1"/>
		<add key="Port" value="9877"/>
		<!-- Network config -->
		<add key="TraceNetworkPrices" value="false"/>
		<add key="TraceNetworkQueues" value="false"/>
		<add key="MaxNetworkPriceQueueSize" value="5000"/>
		<!-- REST endpoint -->
		<add key="PricesEndpoint" value="prices"/>
		<add key="Market" value="DOW"/>
		<!-- UI buffers, queues -->
		<add key="PaintingBufferDelay" value ="3"/>
		<add key="MaxPaintQueueSize" value="5000"/>
		<add key="ForceUIRepaint" value ="false"/>	
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="PriceUI.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyyMMdd"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %line %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>